<launch>    
<arg name="sys_ns" default="sys0"/>
<arg name="output" default="screen"/>

<group ns="$(arg sys_ns)">
    <param name="image_topic" value="/$(arg sys_ns)/ir1/image_raw"/>
    <node pkg="cv_camera" type="ir_visualization_node" name="ir_visualization_node" output="screen">
        <!-- <param name="image_topic" value="/$(arg sys_ns)/ir1/image_raw"/> -->
    </node>
</group>
</launch>
